!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Phenomena
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link(href="images/favicon.ico" rel="shortcut icon")
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "#"} Title
          %ul.nav#topMenu
    .container
      .row
        .span2#mainMenu
        .span8
          .content
            %div#contentSlider
              %div#alfaContent
                alfaContents
              %div#betaContent
                betaContent

